#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
}

header {
  width: 100vw;
  text-align: center;
  background-color: rgb(15, 15, 15);
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 17.5vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: rgb(15, 15, 15);
  font-size: min(20px, 4vw);
}